@media (max-width: 1100px) {

    .conteiner {
        width: 960px;
    }

    .up {
        right: 4%;
    }

    .social-icon-list {
        padding-top: 210px;
    }

    .works-block-img li:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .works-block-img li:nth-child(odd) {
        margin-right: 30px;
    }

    .works-banner-title {
        font-size: 28px;
    }

    .contact-block-info-left {
        margin-left: 40px;
    }

    .contact-block-info-right {
        margin-left: 80px;
        text-align: left;
    }

    .contact-input {
        width: 250px;
        margin-bottom: 20px;
    }

    .contact-input:nth-child(odd) {
        margin-right: 10px;
    }

    .contact-form textarea {
        width: 513px;
    }

    .contact-info-btn {
        margin-right: 20px;
    }

    .contact-form label {
        display: inline-block;
        
        color: #555555;
        font-size: 11px;
    }   

    .contact-form span {
        color: #C0301C;
    }
}

@media (max-width: 960px) {

    .conteiner {
        width: 840px;
    }

    .heaedr-block-title {
        font-size: 42px;
        line-height: 22px;
        margin-bottom: 36px;
    }

    .heaedr-block-subtitle {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 36px;
    }

    .button-get {
        font-size: 14px;
        line-height: 22px;
        width: 160px;
        height: 50px;
    }

    .workers-block .slick-arrow {
        width: 25px;
        height: 28px;
    }

    .social-icon-list {
        padding-top: 175px;
    }

    .clients-logo {
        margin-left: 20px;
        margin-right: 20px;
    }

    .clients-logo-item:not(:last-child) {
        margin-right: 45px;
    }

    .clients-slide-text {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .cliemts-slide-sign {
        font-size: 18px;
        line-height: 26px;
    }

    .clients-slider .slick-dots button {
        width: 10px;
        height: 10px;
    }

     .contact-block-info-right {
        margin-left: 60px;
        text-align: left;
    }

    .contact-input {
        width: 200px;
        margin-bottom: 20px;
        font-size: 12px;
    }

    .contact-form textarea {
        width: 413px;
        font-size: 12px;
    }

    .contact-form label {
        line-height: 18px;
    }

    .contact-info-btn {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .up {
        top: 92%;
        right: 3%;
    }  
}

@media (max-width: 768px) {

    .conteiner {
        width: 720px;
    }

    .header-nav {
    margin: 0 20px;
    }

    .services-card:not(:last-child) {
        margin-right: 20px;
    }

    .services-card-icon {
        margin-bottom: 20px;
    }

    .services-card-icon img  {
        width: 35%;
    }

    .services-card-title {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 14px;
    }

    .social-icon-list {
        padding-top: 140px;
    }

    .works-img {
        width: 280px;
    }

    .works-banner-title {
        font-size: 26px;
    }

    .works-img {
        width: 220px;
    }

    .blog-block {
        display: block;
        text-align: left;
        margin: 0 20px;
    }

    .blog-img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-block-info {
        display: block;
    }

    .contact-block-info-left {
        display: flex;
        margin-bottom: 25px;
    }

    .contact-block-info-right {
        text-align: left;
        margin-left: 0;
        margin: 0 10px;
    }

    .contact-input {
        width: 49%;
        height: 45px;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .contact-form textarea {
        width: 100%;
        font-size: 12px;
        margin-bottom: 15px;    
    }

    .contact-form label {
        font-size: 12px;
        line-height: 18px;
    }

    .contact-info-btn {
        left: 0;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .clients-logo {
        width: 710px;
    }

    .clients-logo-item img {
        width: 75%;
    }

    .clients-logo-item:not(:last-child) {
        margin-right: 35px;
    }

    .up {
        top: 92%;
        right: 7%;
    }  
}

@media (max-width: 736px) {
    .conteiner {
        padding: 0 15px;
    }
}

@media (max-width: 560px) {

    .conteiner {
        width: 520px;
    }

    .header-list {
        display: none;
    }

    .title-block {
        margin-bottom: 40px;
    }

    .about-block-text {
        margin-bottom: 34px;
        display: none;
        text-align: center;
    }

    .about-block-text p {
        width: 70%;
        margin: 0 80px;
    }

    .clients-logo {
        width: 540px;
    }
    
    .about-block-text p:not(:last-child) {
        margin: 0;
    }


    .works-img {
        width: 220px;
    }

    .blog-block {
        display: block;
        text-align: left;
        margin: 0 20px;
    }

    .blog-img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .works-img-btn {
        margin: 0 auto;
        width: 80px;
        height: 28px;
        font-size: 12px;
        line-height: 18px;
    }

    .works-img-btn img {
        margin-top: 3.7px;
        margin-left: 8px;
    }

     .clients-logo {
        width: 500px;
    }

    .clients-logo-list {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        margin-right: 0;
    }

    .clients-logo-item img {
        width: 50%;
    }

    .clients-logo-item:not(:last-child) {
        margin-right: 0;
    }

    .clients-logo-item:not(:nth-child(3n)) {
        margin-right: 25px;
    }

    .clients-logo-item {
        margin-bottom: 10px;
    }

    .contact-block-info-left {
        margin-left: 0;
    }

    .contact-info-card {
        margin-left: 10px;
    }

    .contact-input {
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .contact-form textarea {
        width: 100%;
        font-size: 12px;
        margin-bottom: 15px;    
    }

    .contact-form label {
        font-size: 12px;
        line-height: 18px;
        width: 290px;
    }

    .contact-info-btn {
        left: 0;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width : 412px) {
    .conteiner {
        padding: 0 15px;
    }

    .header-block {
        margin-top: 140px;
    }

    .heaedr-block-title {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    .heaedr-block-subtitle {
        font-size: 16px;
        margin-bottom: 34px;
    }

    .button-get {
        width: 140px;
    }

    .subtitle {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }

    .block-services-card {
        display: block;
        text-align: center;
        width: 340px;
    }

    .services-card {
        width: 340px;
    }

    .services-card:not(:last-child) {
        margin-bottom: 20px;
    }

    .social-icon-list {
        padding-top: 180px;
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;
    }

    .categories-item:not(:last-child) {
        margin-right: 0;
    }

    .categories-item:not(:nth-last-child(-n+2)) {
        margin-right: 20px;
    }

    .works-block-img li:nth-child(odd) {
        margin-right: 0;
    }

    .works-banner-title {
        font-size: 22px;
    }

    .blog-date {
        height: 66px;
    }

    .clients-logo {
        width: 340px;
    }

    .services-card-icon img  {
        width: 25%;
    }

    .clients-logo-item:not(:nth-child(3n)) {
        margin-right: 25px;
    }

    .clients-logo-item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .clients-logo-item:nth-child(odd) {
        margin-right: 10px;
    }

    .clients-logo-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 0;
    }

    .clients-slide-text {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .cliemts-slide-sign {
        font-size: 16px;
        line-height: 26px;
    }

    .clients-slider .slick-dots button {
        width: 8px;
        height: 8px;
    }

    .clients-slider .slick-dots li {
        margin-top: 20px;
    }

    .contact-block-info-left {
        display: block;
    }

    .contact-input {
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .contact-form textarea {
        width: 100%;
        font-size: 12px;
        margin-bottom: 15px;    
    }

    .blog-img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blog-img img {
        width: 100%;
    }

    .up {
        top: 92%;
        right: 5%;
    } 
}

@media (min-device-width : 320px) {
    

    .conteiner {
        width: 360px;
        padding: 0 15px;
    }

    .header-block {
        margin-top: 140px;
    }

    .heaedr-block-title {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    .heaedr-block-subtitle {
        font-size: 16px;
        margin-bottom: 34px;
    }

    .button-get {
        width: 140px;
    }

    .subtitle {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }

    .block-services-card {
        display: block;
        text-align: center;
        width: 340px;
    }

    .services-card {
        width: 340px;
    }

    .services-card:not(:last-child) {
        margin-bottom: 20px;
    }

    .social-icon-list {
        padding-top: 180px;
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;
    }

    .categories-item:not(:last-child) {
        margin-right: 0;
    }

    .categories-item:not(:nth-last-child(-n+2)) {
        margin-right: 20px;
    }

    .works-block-img li:nth-child(odd) {
        margin-right: 0;
    }

    .works-banner-title {
        font-size: 22px;
    }

    .blog-date {
        height: 66px;
    }

    .clients-logo {
        width: 340px;
    }

    .services-card-icon img  {
        width: 25%;
    }

    .clients-logo-item:not(:nth-child(3n)) {
        margin-right: 25px;
    }

    .clients-logo-item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .clients-logo-item:nth-child(odd) {
        margin-right: 10px;
    }

    .clients-logo-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 0;
    }

    .clients-slide-text {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .cliemts-slide-sign {
        font-size: 16px;
        line-height: 26px;
    }

    .clients-slider .slick-dots button {
        width: 8px;
        height: 8px;
    }

    .clients-slider .slick-dots li {
        margin-top: 20px;
    }

    .contact-block-info-left {
        display: block;
    }

    .contact-input {
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .contact-form textarea {
        width: 100%;
        font-size: 12px;
        margin-bottom: 15px;    
    }

    .blog-img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blog-img img {
        width: 100%;
    }

    .up {
        top: 92%;
        right: 5%;
    } 

}